.task-wrapper {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.task {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81e7e4;
  border-radius: 0.8em;
}

.complete {
  opacity: 40%;
}

.tags-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5em 0 0.3em 0;
}

.tag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 8px;
  margin: 0 2px 0 2px;
  border-radius: 0.25em;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #3da2d1;
}

.tag-button {
  border-radius: 2px;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  padding-top: 0.1em;
}

.inner-task {
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
}

.task-dueDate {
  margin-left: 1px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 20%;
  margin: 4px 4px 0 0;
  height: 100%;
}

.menu-icon {
  font-size: 1.6em;
  margin-left: 12px;
  color: #0000003f;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.menu-icon.grayed {
  cursor: default;
}

.menu-icon.accept {
  font-size: 0.9em;
  color: #000000a4;
  margin-right: 12px;
}

.menu-icon.accept:hover {
  color: #0dac22;
}

.menu-icon.edit:hover {
  color: #269dff;
}

.menu-icon.delete:hover {
  color: #f03333;
}

.task-top {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}