.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.textbox-wrapper label {
  position: absolute;
  top: 0.4rem;
  left: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  font-size: 1.3rem;
  color: gray;
}

.modal-space {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.modal.entry {
  position: absolute;
  pointer-events: none;
  left: 0;
  transition: transform 300ms ease;
}

.modal.entry.active {
  pointer-events: all;
  transform: translateY(12rem);
}

.modal.entry .modal-space {
  width: 80%;
}

.modal.edit .modal-space {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  background-clip: padding-box;

  --border: 5px;
  box-sizing: border-box;
  border: solid 5px transparent;
  border-radius: 0.8em;
}

.modal.edit .modal-space::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(
    27deg,
    rgba(54, 47, 187, 1) 0%,
    rgba(113, 34, 117, 1) 10%,
    rgba(249, 118, 152, 1) 53%,
    rgba(255, 184, 69, 1) 100%
  );
}

.icon-btn {
  padding: 8px 20px;
  border-radius: 2px;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.text-btn {
  padding: 5px 10px;
  border-radius: 0.4em;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.create-tag-text {
  --rgb: 22, 138, 173; /* color for when the tags are being edited */
  background: none;
  color: rgba(var(--rgb), 0);
  transition: all 250ms ease-out;
}

.textbox-wrapper.tags input:focus ~ button p,
.textbox-wrapper.tags input:valid ~ button p {
  /* "Create Tag" appears when focused on the Tags field */
  color: rgba(var(--rgb), 1);
}

.create-tag-text:hover {
  color: #6ce2c1;
  transform: translate3d(-2px, 0, 0);
  --rgb: 108, 226, 193;
}

.create-tag-text i {
  /* visual icon for creating tags, changes color when hovered */
  transform: translate3d(0.05em, 0.05em, 0) scale3d(0.8, 0.8, 1);
  transition: color 250ms ease;
  color: rgba(var(--rgb), 1);
}

.text-btn.disabled {
  /* for disabled fields */
  pointer-events: none;
  opacity: 30%;
}

.text-btn.submit {
  background-color: #168aad;
  color: #ffffff;
  margin-top: 0.7rem;
  transition: all 250ms ease-in-out;
}

.text-btn.submit:hover {
  background-color: #52b69a;
}

.textbox-wrapper {
  position: relative;
  margin: 15px 0 25px 0;

  --main-input-color: #ff8800;
  --secondary-input-color: #ffb600;
}

.textbox-wrapper input[type="input"],
.textbox-wrapper input[type="text"],
.textbox-wrapper input[type="date"] {
  box-sizing: content-box;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(95, 95, 95);
  outline: 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;

  /* avoid the date input and text input boxes from beign different heights*/
  display: inline-block;
  min-height: 1.5em;
  transition: border-color 0.2s ease;
}

.textbox-date input {
  box-sizing: content-box;
}

.textbox-wrapper label {
  position: absolute;
  top: 0.4em;
  left: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  font-size: 1.3rem;
  color: gray;
}

.textbox-wrapper button {
  position: absolute;
  top: 0.15em;
  right: -0.3em;
  transition: all 0.2s ease;
  font-size: 1.3em;
  background-color: transparent;
  color: #3971b9;
}

.textbox-wrapper button:hover {
  color: #7be4f7;
}

.textbox-wrapper.tags {
  margin-bottom: 10px;
  --main-input-color: #3971b9;
  --secondary-input-color: #3ad1eb;
}

.textbox-wrapper.date {
  --main-input-color: #eb563a;
  --secondary-input-color: #f4a698;
}

.textbox-wrapper + input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--secondary-input-color),
    var(--main-input-color)
  );
  border-image-slice: 1;
}

.textbox-wrapper input:focus ~ label,
.textbox-wrapper input:valid ~ label {
  top: -12px;
  font-size: 12px;
  font-weight: 700;
  color: var(--main-input-color);
}

/* realligns the color dot picker to not overflow the edit task modal */
.modal.edit .modal-space .textbox-wrapper.tags .tag-color-picker {
	top: -1em;
	margin-left: -1.6em;
}

.tag-color-picker {
  position: absolute;
  top: 0.85em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 0.6em;
  width: 16px;
  height: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 200ms ease;
}

.tag-color-picker:hover, .tag-color-picker:focus {
	transform: scale3d(1.8, 1.8, 1);
}

.tag-color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
.tag-color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
