* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Yantramanav", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(204, 204, 204);
}

*::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
		27deg,
		#3085c7 10%,
		#45aac9 20%,
		#62bdc9 40%,
		#83d4bc 60%,
		#9ce9b9 100%
	  );
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #9bf0da 0%, #79e0d8 100%);
}

*::-webkit-scrollbar {
    width: 10px;
}
 
*::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.content {
	padding: 0 1rem 0 1rem;
    max-height: 100vh;
    overflow-y: auto;
	scrollbar-gutter: stable;
}

.modal-border {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  background-clip: padding-box;
  box-sizing: border-box;
  border: solid 5px transparent;
  border-radius: 0.8em;
  transition: all 300ms ease-in-out;
}

.modal-border.active {
  padding-bottom: 310px; /* the border grows down on button click */
}

.modal-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(
    27deg,
    #d9ed92 10%,
	#b5e48c 20%,
	#76c893 40%,
	#34a0a4 60%,
	#184e77 100%
  );
}

.modal-border-wrapper {
  z-index: -1;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.modal-content-initial {
  margin: 20px 0 10px 0;
}

.modal-content-initial h1 {
  margin-bottom: 5px;
}

.create-todo-btn i {
  min-width: 40px;
  color: #2cadd4;
  background: transparent;
  font-size: 40px;
  transition: 250ms all ease;
  -webkit-transition: 250ms all ease;
}

.create-todo-btn i:hover {
  color: #6bd6b8;
  transform: scale3d(1.2, 1.2, 1);
}

.tasklist {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.fade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fade.in {
  transition: opacity 250ms ease-out;
}

.fade.out {
  opacity: 0%;
  transition: opacity 100ms ease-out;
}

.fade.delay {
  opacity: 0%;
}
