* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Yantramanav", sans-serif;
}

.modal-border {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	background-clip: padding-box;
	box-sizing: border-box;
	border: solid 5px transparent;
	border-radius: 0.8em;
	transition: all 300ms ease-in-out;
}

.modal-border.active {
	padding-bottom: 300px;
}

.modal-border::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	z-index: -1;
	margin: -5px;
	border-radius: inherit;
	background: linear-gradient(27deg, #e3f5a8 0%, #d9ed92 10%, #b5e48c 20%, #99d98c 30%, #76c893 40%, #52b69a 50%, #34a0a4 60%, #168aad 70%, #1a759f 80%, #1e6091 90%, #184e77 100%);
}

.modal-border-wrapper {
	z-index: -1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-todo-btn i {
	min-width: 40px;
	color: #2cadd4;
	background: transparent;
	font-size: 40px;
	transition: 250ms all ease;
	-webkit-transition: 250ms all ease;
}

.create-todo-btn i:hover {
	color: #6bd6b8;
	transform: scale3d(1.2, 1.2, 1);
}

.todo-tasklist {
	margin-top: 25px;
}

.fade {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.fade.in {
	transition: opacity 250ms ease-out;
}

.fade.out {
	opacity: 0%;
	transition: opacity 100ms ease-out;
}

.fade.delay {
	opacity: 0%;
}